<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <style>
    .header{
        text-align: center;


    }
        .apiname{
            text-align: left;
            margin-left: 700px;
            position:absolute;

        }
        .apiurl{

            text-align: left;
            margin-left: 900px;
            position:absolute;

        }
    </style>
</head>
<body>
<div class="header">
<h1>Welcome To Employee Management API Service</h1>
<h2>Below is list of api to perform operations</h2>
</div>
    <div class="apiname">
        <h3>Registration:</h3>
        <h3>Login:</h3>
        <h3>Create Employee:</h3>
        <h3>Get Employee:</h3>
        <h3>Update Employee:</h3>
        <h3>Delete Employee:</h3>
        <h3>Logout:</h3>
    </div>
<div class="apiurl">
    <h3>https://emp-management-sys-api.herokuapp.com//registration</h3>
    <h3>https://emp-management-sys-api.herokuapp.com//login</h3>
    <h3>https://emp-management-sys-api.herokuapp.com//createEmployee</h3>
    <h3>https://emp-management-sys-api.herokuapp.com//getEmployee</h3>
    <h3>https://emp-management-sys-api.herokuapp.com//updateEmployee</h3>
    <h3>https://emp-management-sys-api.herokuapp.com//deleteEmployee</h3>
    <h3>https://emp-management-sys-api.herokuapp.com//logout</h3>
</div>
</body>
</html>
